@model CtrlMoney.ViewModel.CartaoViewModel

<div id="modal-delete-cartao-@Model.Id" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deletar Cartão</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Nome):
                    @Html.DisplayFor(model => model.Nome)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Limite, htmlAttributes: new { @class = "control-label" }):
                    R$ @Html.DisplayFor(model => model.Limite, "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.DiaFechamento):
                    @Html.DisplayFor(model => model.DiaFechamento)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.DiaVencimento):
                    @Html.DisplayFor(model => model.DiaVencimento)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Numero):
                    @Html.DisplayFor(model => model.Numero)
                </div>

                @using (Html.BeginForm("Delete", "Cartao", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(p => p.Id)
                    <button type="submit" class="btn btn-primary">Deletar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                }

            </div>
        </div>
    </div>
</div>
