@model IEnumerable<Dominio.Cartao>

@{
    ViewBag.Title = "Index";
}


<div class="content">
    <main>
        <div class="py-3">
            <div class="container">
                <div class="row bg-primary">
                    <div class="col-2">
                        <button class="btn btn-primary pull-left">
                            <i class="fa fa-angle-left mx-2 d-inline fa-3x"></i>
                        </button>
                    </div>
                    <div class="col-4 align-self-center">
                        <div class="dropdown show text-center">
                            <button type="button" class="btn btn-primary btn-block text-white lead m-0 dropdown-toggle" href="#" role="button" id="dropdownMenuMes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.meses[@ViewBag.mes]</button>
                            <div class="dropdown-menu text-center w-100 scrollable-menu" aria-labelledby="dropdownMenuMes
                                
                                @for (int i = 0; i < ViewBag.mes; i++)
                                {
                                    <a class="dropdown-item" href="#">@ViewBag.meses[i]</a>
                                }
                                <a class="dropdown-item active" href="#">@ViewBag.meses[@ViewBag.mes]</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 align-self-center">
                        <div class="dropdown show text-center">
                            <button type="button" class="btn btn-primary btn-block text-white lead m-0 dropdown-toggle" href="#" role="button" id="dropdownMenuAno" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.ano</button>
                            <div class="dropdown-menu text-center w-100 scrollable-menu" aria-labelledby="dropdownMenuAno">
                                @for (int i = ViewBag.ano - 1; i > ViewBag.ano - 4; i--)
                                {
                                    <a class="dropdown-item" href="#">@i</a>
                                }

                                <a class="dropdown-item active" href="#">@ViewBag.ano</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary pull-right m-0">
                            <i class="fa fa-3x fa-angle-right mx-2 d-inline"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="container py-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa d-inline fa-credit-card-alt fa-lg mx-1"></i>@item.Nome
                                <button class="btn btn-light pull-right">
                                    <i class="fa d-inline fa-lg fa-ellipsis-v"></i>
                                </button>
                            </div>
                            <div class="card-body">
                                <h4>Fatura Aberta</h4>
                                <p class="text-muted"> Limite </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:89.5%">89.5%</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>R$ 0.00/@item.Limite</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right">
                                            Restando R$ @item.Limite
                                            <br>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                        <p>Venc:</p>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                        <p>@item.DiaVencimento</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                        <p>Fechamento:</p>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                        <p>@item.DiaFechamento</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="py-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button class="btn pull-right btn-primary">
                            <i class="fa d-inline fa-lg fa-plus"></i> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
s