<div class="py-5">
    <div class="container">
        <div class="row bg-primary justify-content-center">
            @{
                String[] meses = { "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" };
                <div class="col-6 col-sm-5 align-self-center">
                    <div class="dropdown show text-center">
                        <button type="button" class="btn btn-primary btn-block text-white lead m-0 dropdown-toggle" href="#" role="button" id="dropdownMenuMes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@meses[ViewBag.MesSelecionado]</button>
                        <div class="dropdown-menu text-center w-100 scrollable-menu" aria-labelledby="dropdownMenuMes">
                            @{
                                for (int i = ViewBag.MinMonth; i <= ViewBag.MaxMonth; i++)
                                {
                                    if (ViewBag.MesSelecionado == i)
                                    {
                                        <a class="dropdown-item active" href="#">@meses[i]</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="@Request.Url.AbsolutePath?mes=@(i + 1)&ano=@ViewBag.AnoSelecionado + @ViewBag.QueryCategoria">@meses[i]</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="col-6 col-sm-5 align-self-center">
                <div class="dropdown show text-center">
                    <button type="button" class="btn btn-primary btn-block text-white lead m-0 dropdown-toggle" href="#" role="button" id="dropdownMenuAno" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.AnoSelecionado</button>
                    <div class="dropdown-menu text-center w-100 scrollable-menu" aria-labelledby="dropdownMenuAno">
                        @{
                            int anoAtual = DateTime.Today.Year;
                            for (int j = ViewBag.AnoCadastro; j <= anoAtual; j++)
                            {
                                if (j == ViewBag.AnoSelecionado)
                                {
                                    <a class="dropdown-item active" href="#">@j</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="@Request.Url.AbsolutePath?mes=@(ViewBag.MesSelecionado+1)&ano=@j + @ViewBag.QueryCategoria">@j</a>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
