@model CtrlMoney.ViewModel.PessoaUsuario.PessoaUsuarioViewModel

@{
    ViewBag.Title = "Perfil";
    ViewBag.BodyClass = "login-background";
}
<div class="pt-5 justify-content-center d-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-12 col-lg-7 col-xl-6">
                <div class="card text-white p-1 p-sm-3 p-md-4 p-lg-5 bg-black">
                    <div class="card-body">
                        <h1 class="mb-4 display-4">Perfil</h1>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DataNasc, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DataNasc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DataNasc, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col align-middle">
                                        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                                        @Html.HiddenFor(model => model.Senha)
                                    </div>
                                    <div class="col text-right">
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalAlterarSenha">
                                            Alterar Senha
                                        </button>
                                    </div>
                                </div>
                                <br/>
                                @Html.ValidationMessage("erro_identity", new { @class = "text-danger" })
                            </div>


                            <button type="submit" class="btn btn-primary col-4">Salvar</button>
                        }

                        <br />

                        @using (Html.BeginForm("Delete", "Identity", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger col-4">Apagar Conta</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalAlterarSenha" class="modal fade" style="color: #000 !important">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alterar Senha</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="formAlterarSenha">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="inputSenhaAtual">Senha Atual</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputSenhaAtual" name="senhaAtual">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="inputNovaSenha">Nova Senha</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputNovaSenha"  name="novaSenha">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputConfirmacao" class="col-sm-4 col-form-label">Confirmação</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputConfirmacao" name="confirmacao">
                        </div>
                    </div>
                    <label class="d-none text-danger" id="erroAlterarSenha"></label>
                    <div class="modal-footer">
                        <button type="button" id="okAlterarSenha" class="btn btn-primary">OK</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
            $("#CPF").inputmask("mask", { "mask": "999.999.999-99" });

            $('#okAlterarSenha').on('click', function (e) {
                 //TODO Validar campos
                e.preventDefault();
                 var form = $('#formAlterarSenha');
                 var novaSenha = $("#inputNovaSenha");
                 var confirmacao = $("#inputConfirmacao");

                 if (novaSenha.val() !== confirmacao.val()) {
                     alert("Senhas diferentes!");
                     return;
                 }


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AlterarSenha")",
                    data: form.serialize(),
                    success: function (resposta) {
                        var inputs = $(form).find("input");

                        if (resposta["response"] === "funcionou") {
                            jQuery.each(inputs, function (i, input) {
                                $(input).val("")
                            })
                            $('#modalAlterarSenha').modal('hide');
                            $("#erroAlterarSenha").addClass("d-none");
                        }
                        else {
                            $("#erroAlterarSenha").html(resposta["response"]);
                            $("#erroAlterarSenha").removeClass("d-none");
                        }

                    },
                    error: function () {
                        alert('Error');
                    }
                });
                return false;
            });
        });
    </script>
}
