@model CtrlMoney.ViewModel.ReceitaViewModel

<div id="modal-edit-receita-@Model.Id" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Receita</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditReceita", "Receitas"))
                {
                    try
                    {
                        @Html.AntiForgeryToken()
                    }
                    catch (Exception e) { }

                    @Html.HiddenFor(p => p.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Nome, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">R$</div>
                            </div>
                            @Html.EditorFor(model => model.Valor, "", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataRecebimento, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DataRecebimento, "", new { htmlAttributes = new { @class = "form-control", @Value = new DateTime(ViewBag.AnoSelecionado, ViewBag.MesSelecionado + 1, DateTime.Today.Day).ToString("yyyy-MM-dd") } })
                        @Html.ValidationMessageFor(model => model.DataRecebimento, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(p => p.Categoria, new { htmlAttributes = new { @Value = ViewBag.Categoria } })
                    <div class="col-auto my-1">
                        <div class="custom-control custom-checkbox mr-sm-2 custom-control-inline">
                            @Html.CheckBoxFor(model => model.Fixo, htmlAttributes: new { @class = "custom-control-input" })
                            @Html.LabelFor(model => model.Fixo, htmlAttributes: new { @class = "custom-control-label" })
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-despesa-@Model.Id">Apagar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="modal-delete-despesa-@Model.Id" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tem certeza que deseja deletar essa receita?</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Receitas"))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(p => p.Id)
                    <button type="submit" class="btn btn-primary">Sim</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                }
            </div>
        </div>
    </div>
</div>
