@{
    ViewBag.Title = "Dashboard";
}

@Html.Partial("_SelecionadorMes")

<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8 col-xl-6">
                <table class="table m-0">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Visão Geral</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Receitas</td>
                            <td>R$ @ViewData["TotalReceita"]</td>
                        </tr>
                        <tr>
                            <td>Despesas</td>
                            <td>R$ @ViewData["TotalDespesa"]</td>
                        </tr>
                        <tr>
                            <td>Caixa</td>
                            <td>R$ @ViewData["Caixa"]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 col-md-6 col-xl-4 col-lg-5 col-11">
                <canvas id="visao-geral-chart"></canvas>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8 col-xl-6">
                <table class="table m-0">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Receitas</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.ActionLink("Salário", "Index", "Receitas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaReceita.Salario }, null)</td>
                            <td>R$ @ViewData["CategoriaReceitaSalario"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Vendas", "Index", "Receitas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaReceita.Vendas }, null)</td>
                            <td>R$ @ViewData["CategoriaReceitaVendas"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Pensão", "Index", "Receitas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaReceita.Pensao }, null)</td>
                            <td>R$ @ViewData["CategoriaReceitaPensao"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Outros", "Index", "Receitas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaReceita.Outros }, null)</td>
                            <td>R$ @ViewData["CategoriaReceitaOutros"]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 col-md-6 col-xl-4 col-lg-5 col-11">
                <canvas id="receitas-chart" class=""></canvas>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-xl-6 col-lg-8">
                <table class="table m-0">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Despesas</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.ActionLink("Moradia", "Index", "Despesas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaDespesa.Moradia }, null)</td>
                            <td>R$ @ViewData["CategoriaDespesaMoradia"]</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Alimentação", "Index", "Despesas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaDespesa.Alimentacao }, null)
                            </td>
                            <td>R$ @ViewData["CategoriaDespesaAlimentacao"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Educação", "Index", "Despesas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaDespesa.Educacao }, null)</td>
                            <td>R$ @ViewData["CategoriaDespesaEducacao"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Transporte", "Index", "Despesas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaDespesa.Transporte }, null)</td>
                            <td>R$ @ViewData["CategoriaDespesaTransporte"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Lazer", "Index", "Despesas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaDespesa.Lazer }, null)</td>
                            <td>R$ @ViewData["CategoriaDespesaLazer"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Saúde", "Index", "Despesa", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaDespesa.Saude }, null)</td>
                            <td>R$ @ViewData["CategoriaDespesaSaude"]</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Outros", "Index", "Despesas", new { mes = ViewBag.MesSelecionado + 1, ano = ViewBag.AnoSelecionado, categoria = Dominio.CategoriaDespesa.Outros }, null)</td>
                            <td>R$ @ViewData["CategoriaDespesaOutros"]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 col-md-6 col-xl-4 col-lg-5 col-11">
                <canvas id="despesas-chart"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/Dashboard")
    @*<script src="Chart.bundle.min.js"></script>*@
    <script>
        $GeraGraficoDoughnut({ 'id': document.getElementById("visao-geral-chart"), 'labels': ["Receitas", "Despesas", "Caixa"], 'data': [2800, 1920, 880], 'colors': ['rgba(18,187,173, 1)', 'rgba(220,53,69, 1)', 'rgba(79,112,206, 1)'] });
        $GeraGraficoDoughnut({ 'id': document.getElementById("receitas-chart"), 'labels': ["Salário", "Vendas", "Pensão"], 'data': [1900, 500, 400], 'colors': ['rgba(18,187,173, 1)','rgba(220,53,69, 1)','rgba(79,112,206, 1)'] });
        $GeraGraficoDoughnut({ 'id': document.getElementById("despesas-chart"), 'labels': ["Moradia", "Alimentação", "Educação", "Transporte", "Lazer", "Saúde"], 'data': [150, 120, 350, 800, 250, 250], 'colors': ['rgba(18,187,173, 1)', 'rgba(220,53,69, 1)', 'rgba(79,112,206, 1)', 'rgba(255,193,7, 1)', 'rgba(21,21,21, 1)', 'rgba(128,128,128, 1)'] });
    </script>
}